* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #313331;
}

.wrapper {
    width: 60%;
    margin: auto;
}

/* =================================     COLORS      ================================= */

header, footer {
    background-color: #181918;
}

.list ul ul {
    border-top: 0.5px solid #181918;
    border-bottom: 0.5px solid #181918;
}

.nav-bar, .home {
    background-color: #535553;
}

.summary {
    background-color: #616161;
}

.list ul {
    background-color: rgb(228, 228, 228);
}

.list .val {
    color: rgb(223, 71, 71);
}

header nav ul li a, .summary ul li, .summary h2,
.add-title li {
    color: rgb(228, 228, 228);
}

header nav ul li a:hover:not(.active), nav ul li a.active {
    color: white;
}

header .brand {
    color: #334C32;
}

.summary {
    border: 1px solid #2E7F2C;
}

.summary h2 {
    background-color: #2E7F2C;
}

.home h1  {
    color: #2E7F2C;
    border-bottom: 1px solid  #2E7F2C;
}

/* ================================     FONTS      ================================= */

header .brand, header nav ul li a, .home h1 { 
    font-family: 'Cairo', sans-serif;
}

.summary h2, .summary ul li, .add-title li {
    font-family: 'Play', sans-serif;
}

/* ================================     HEADER      ================================ */

header {
    width: 100%;
    height: 85px;
}

header .brand {
    display: block;
    padding: 0 10px;
    
    font-size: 28px;
    font-weight: 900;

    text-decoration: none;
}

.nav-bar {
    width: 100%;
    height: 35px;
}

header nav ul {
    margin: 0 auto;
}

header nav ul li {
    display: inline-block;

    margin: 0 5px;
}

header nav ul li a {
    display: block;
    padding: 0 10px;

    font-size: 16px;
    font-weight: 200;

    text-decoration: none;
}

header nav ul li a:hover:not(.active){
    border-bottom: 1px solid white;
}

nav ul li a.active {
    border-bottom: 3px solid white;
}

/* ================================     MAIN      ================================ */

.home {
    height: 300px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 5px 2px 5px #111;  
}

.home h1 {
    margin: 0 10px;
    margin-bottom: 30px;
    
    font-size: 26px;
    font-weight: 400;
}

.summary h2 {
    width: fit-content;
    margin-bottom: 15px;
    padding: 5px 10px;

    font-size: 18px;

}

.summary {
    padding: 10px;
    margin: 0 20px;
}

.summary ul li {
    font-size: 16px;
    font-weight: 200;

    line-height: 1.8;
}

.summary ul li .val {
    color: rgb(122, 170, 104);
    float: right;
}

/* ================================     LIST      ================================= */

.add-form, .list ul.tab {
    margin: 0 10px;
}

.add-form #name {
    height: 15px;
    width: 40%;
}

.add-form #date {
    height: 15px;
    width: 25%;
    font-size: 12px;
}

.add-form #val {
    height: 15px;
    width: 29%;
}

.add-form #submit {
    margin: 5px 0;
    padding: 2px 5px;
}

.list ul ul .name {
    width: 40%;
}

.list ul ul .date {
    width: 29%;
}

.list ul ul .val {
    width: 29.2%;
}

.list ul ul li {
    display: inline-block;
    text-align: center;
}

/* ================================     FOOTER      ================================ */

footer {
    width: 100%;
    height: 30px;
}